<div class="search">
<h2>FIND PEOPLE AROUND YOU</h2>
Search for people that live in your city <br/>
<%= form_tag root_url, method: :get do %>
  <%= text_field_tag :location, params[:location], placeholder: "Type a city" %>
  <%= select nil, :distance, [3,5,10,15] %> km
<% end %>
</div>

<br>
<div class="container">
<% unless @users == [] %>
<%# #size and #empty? create a SQL error --> %>
    <% @users.each do |user| %>
	<div class="profil">
          <span class="name"><%= user.fullname %></span><br />
          <%= user.address %>
	</div>
    <% end %>
<% else %>
No results yet.
<% end %>
</div>
